$Color-title: #3582FF;
$Color-text: #515151;

.backModal{
    width: 100%;
    height: 100%;
    background-color:rgb(44, 44, 44);
    position: fixed;
    top: 0px;
    z-index: 5000;
    opacity: 0.5;
}

.innerModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 48px;
    z-index: 9999;
    animation: slideIn 0.8s ease-in-out forwards;
    max-height: 90vh;
    overflow: auto;
    width: 440px;
    max-width: 90vw;

    &--buttonClose{
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        background-color: $Color-title;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }
    &--buttonClose:hover{
        color: rgb(205, 81, 81);
    }
    &--content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Web__webLine{
        margin: 24px 0px;
    }
}

.modalRegister{
    &__title{
        font-size: 24px;
        font-weight: 600;
        color: $Color-title;
        margin-bottom: 24px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;

        input{
            height: 48px;
            width: 100%;
            border-radius: 100px;
            padding: 12px 24px;
            border: $Color-text 1px solid;
        }

        &__button{
                width: 100%;
                height: 48px;
                border-radius: 100px;
                background-color: $Color-title;
                color: white;
                font-weight: 600;
                cursor: pointer;
                border: none;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: darken($Color-title, 10%);
                }
            }

    }

    &__space{
            width: 100%;
            height: 48px;
            border-radius: 100px;
            background-color: $Color-title;
            color: white;
            font-weight: 600;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            &:hover{
                background-color: darken($Color-title, 10%);
            }
    }

    &__logOut{
            width: 100%;
            height: 48px;
            border-radius: 100px;
            background-color: #FF4D4D;
            color: white;
            font-weight: 600;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: darken(#FF4D4D, 10%);
            }
        }

    &__have{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
        }

    &__login{
        color: $Color-title;
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;

        &:hover{
            color: darken($Color-title, 10%);
        }
    }

}


@keyframes slideIn {
    from {
        top: -100%; /* Modal ẩn bên trên màn hình */
        opacity: 0; /* Modal ban đầu không hiển thị */
    }
    to {
        top: 50%; /* Hiển thị modal ở giữa màn hình */
        opacity: 1; /* Hiển thị modal với opacity đầy đủ */
    }
}
